body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top , #ff8585, #000000);
  }
  
  /* header {
    text-align: center;
    margin-bottom: 10px;
  } */
  header {
    margin-top: 15px;
    width: 95%;
    /* background-color: rgb(214, 113, 113); */
    
  }
  .logo {
    font-size: 4rem;
    color: rgb(246, 241, 241);
    text-shadow: 2px 2px 2px black;
    text-decoration: ;
    text-align: center;
  }
  h1{
      height: 30px;
      font-size: 10vh;
      color: #e60000;
      text-shadow: 2px 2px 2px black;
  }
  
  /* .love-container {
  
    height: 100%;
    margin-top: 30px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 8px;
    background: #101111;
    color: #fff;
    box-shadow: 0 0 1px #03e9f4,
              0 0 5px #03e9f4,
              0 0 5px #03e9f4,
              0 0 10px #03e9f4;
  } */

  .container {
    height: 400px;
    width: 480px;
    margin-top:20%;
    margin-bottom: 10%;
    background:url("img/bg1.mp4");
    border-radius: 40px;
    box-shadow: 0 0 1px #03e9f4,
              0 0 5px #03e9f4,
              0 0 5px #03e9f4,
              0 0 10px #03e9f4;
  }
  /* video{
    height: 600px;
    width: 480px;
    margin-top:20%;
    margin-bottom: 10%;
    border-radius: 40px;
  } */
  video {
    opacity: 20 black;
    object-fit:fill ;
    width: 100vw;
    height: 100vh;
    z-index:-1;
    position: fixed;
    top: 0;
    left: 0;
  }
  img{
      max-width: 30%;
      padding-left: 30%;
      align-items: center;
      display: flex;
  }
  a{
    display: flex;
    position: relative;
    padding: 40px 40px;
    margin-left: 40%;
    margin-top: 40%;
    width: 65px;
    height: 20px;
  }
  /* .button {
    padding: 10px 20px;
    margin-top: 50px;
    position: fixed;
    background-color: #ff4d4d;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #e60000;
  } */
  
  .btn {
    /* display: inline-block; */
    /* margin-top: 10%; */
    padding: 10px 20px;
    background: #d40000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
.btn:hover {
    background: #0c0202;
    box-shadow: 0 0 1px #03e9f4,
              0 0 5px #03e9f4,
              0 0 5px #03e9f4,
              0 0 10px #03e9f4;
    
  }

  @media (max-width: 750px) {
    #background-video { 
      /* display: none; */
      object-fit:cover; 
      width: 100vw;
      height: 100vh;
      z-index:-1;
    }
    body {
      background: url("") no-repeat;
      background-size: ;
    }
    .container {
      height: 400px;
      width: 200px;
      margin-top:20%;
      margin-bottom: 10%;
      background:url("img/bg1.mp4");
      border-radius: 40px;
      box-shadow: 0 0 1px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 10px #03e9f4;
    }
    a{
      display: flex;
      position: relative;
      padding: 40px 40px;
      margin-left: 25%;
      margin-top: 100%;
      width: 65px;
      height: 20px;
    }
    
  }
